@model List<MyEmployee.Models.Employee>
@{
    var keyword = Context.Request.Query["keyword"].ToString();
}

<style>
    table{
        tr{
            td{
                text-align: center;
                vertical-align: middle;
            }
        }
    }
</style>

<div>
    <h1>員工列表</h1>
</div>

<hr>
<div class="col-4 my-4">
    <form class="d-flex" method="get">
        <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search" value="@keyword">
        <button class="btn btn-outline-success" type="submit">查詢</button>
    </form>
</div>

<table class="table table-borded">
    <thead>
        <tr>
            <th>頭貼</th>
            <th>姓名</th>
            <th>電話</th>
            <th>職稱</th>
            <th>薪水</th>
            <th>入職日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody >
        @foreach(var i in Model){
            <tr>
                <td>@if (!string.IsNullOrEmpty(i.PhotoUrl))
                {
                    <img src="~/uploads/@i.PhotoUrl" alt="大頭貼" width="150" height="150" />
                }else{
                    <p>未上傳</p>
                }
                </td>
                <td>@i.Name</td>
                <td>@i.Phone</td>
                <td>@i.Position</td>
                <td>@i.Salary.ToString("N0")</td>
                <td>@(i.HireDate?.ToString("yyyy-MM-dd") ?? "")</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@i.Id">編輯</a>

                    <form asp-route-id="@i.Id" asp-action="Delete" method="post" style="display: inline;">
                        <button class="btn btn-danger" onclick="return confirm('確定刪除編號 @i.Id 嗎?')">刪除</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

